p {
  margin: 0;
  padding: 0;
}
.categories {
  display: flex;
  align-items: center;
}
.category-card {
  height: 200px;
  line-height: 200px;
  min-width: 300px;
  background-color: rgb(22, 35, 35);
  color: white;
  margin: 50px;
  border-radius: 10px;
  text-align: center;
}
@media (min-width: 100px) and (max-width: 575px) {
  .categories {
    display: block;
    align-items: center;
  }
  .category-card {
    height: 150px;
    line-height: 150px;
    min-width: 150px;
    margin: 10px;
  }
}
