@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;500&display=swap');
body {
  font-family: 'Roboto Slab', serif;
}

p {
  font-size: 20px;
  font-weight: 200;
}

h2 {
  margin: 0;
  padding-top: 35px;
  font-size: 32px;
}

.welcome-text {
  text-align: center;
}
.categories {
  display: flex;
  justify-content: center;
}

.category-card {
  height: 175px;
  min-width: 275px;
  max-width: 275px;
  font-size: 36px;
  background-color: rgb(22, 35, 35);
  color: white;
  margin: 50px;
  padding: 25px;
  border-radius: 10px;
  text-align: center;

}
.category-card:hover {
  font-size: 36px;
  text-decoration: underline solid 5px rgb(42, 147, 208);
}

a {
  text-decoration: none;
}
#wordSpotlight {
  z-index: 10;
  font-size: larger;
  position: relative;
  left: 60px;
}
.gallows {
  display: flex;
  align-items: center;
  justify-content: center;
}

.limbs {
  visibility: hidden;
}
.winner {
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .categories {
    display: block;
    align-items: center;
  }
  .category-card {
    height: 150px;
    line-height: 150px;
    min-width: 150px;
    max-width: 450px;
    margin: 10px;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {

  .category-card {
    height: 150px;
    line-height: 150px;
    min-width: 150px;
    max-width: 450px;
    margin: 10px;
  }
}
